<html>
    <body>
        <form method="POST">
            {% csrf_token %}
            <div>
              <label for="name">Name:</label>
              <input type="text" id="name" name="name" required><br><br>
            </div>
            <div>
              <label for="email">Email:</label>
              <input type="email" id="email" name="email" required><br><br>
            </div>
            <div>
              <label for="phone">Phone:</label>
              <input type="text" id="phone" name="phone" required><br><br>
            </div>
            <div>
              <label for="password">Password:</label>
              <input type="password" id="password" name="password" required><br><br>
            </div>
            <div>
              <input type="submit" value="Register">
            </div>
          </form>
          
    </body>
</html>